* {
  box-sizing: border-box;
}

/* Change font size */
html {
  font-size: 62.5%;
}

/* reset that size */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ################### - Common - ############################# */

/* Turn off decoration of css */

a {
  text-decoration: none;
}

/*the size of page  */

.main-content {
  width: 1170px;

  /* Fit content into the page and prevent  */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* ################### - Header - ############################# */
.header .body {
  display: flex;
}

/* Get distance */
.nav {
  margin-left: auto;
}

/*  */

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem; /*16px -> 1.6rem*/
  position: relative;

  /* 1. font-family: Poppins; => inherit from body{}*/

  /* 2. text-align: center; */

  /* 3. font-style: normal;
  font-weight: 400; */

  /* => the Default setting of web pages */

  /* 
  4. line-height: 28px; 175% */

  /* Add more */
  padding: 8px 21px;
}


/* Hover for active class */
.nav li.active a,
.nav a:hover {
  color: black;
  /* font-weight: 600; */

  text-shadow: 1px 0 0 currentColor;
}

/* Generate the underscore for home with active class:  */

.nav li.active a::after {
  position: absolute;
  left: 21px;

  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}
