div{
    border: red solid 2px;
}
#grandparent {
  width: 90vw;

  background-color: white;
  text-align: center;
}

#parent {
    width: 50%;
    background-color: yellow;
  }

  #child {
    width: 50%;

    background-color: orange;
  }